@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

:root {
  --background: #ffffff; 
  --foreground: #20242f; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e2027; 
    --foreground: #f1f5f9; 
  }
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply transition-colors duration-300;
  }

  h1, h2, h3, h4 {
    @apply text-slate-900 dark:text-white;
  }
}

* {
  @apply border-slate-200 dark:border-slate-800;
}